<!DOCTYPE html>
<html lang="en">
  {% include header.html %}

  <!-- About me -->
  <div class="w3-container w3-padding-16 w3-content w3-center" style="max-width:1000px;margin-top:46px;margin-bottom:32px">
    <div class="w3-row">
      <div class="w3-leftbox">
      <h2 class="w3-wide">About Me</h2>
        <p class="w3-left-align">
        I am a fourth-year PhD student in mathematics at <a href="//math.duke.edu">Duke</a>.
        Previously, I was a PhD student at <a href="//math.gatech.edu">Georgia Tech</a>.
        My advisor is <a href="https://services.math.duke.edu/~kgw">Kirsten Wickelgren</a>.
        </p>
        <p class="w3-left-align">
        I organize an online mentoring program called <a href="https://sites.google.com/view/twoples">Twoples</a>.
        </p>
        <p class="w3-left-align">
        I am generally interested in applications of algebraic topology to questions in algebraic geometry and number theory.
        My papers can be found <a href="https://services.math.duke.edu/~mckean/research/papers/">here</a>.
        </p>
		  <p class="w3-left-align">
		  I was born and raised in Salt Lake City, Utah and attended the <a href="//www.math.utah.edu">University of Utah</a> for my undergraduate studies.
		  I now live in Durham with my wonderful wife.
		  My non-mathematical interests include painting, hiking, and learning languages.
		  </p>
      </div>
      <div class="w3-rightbox">
        <img src="https://services.math.duke.edu/~mckean/images/headshot.jpg" class="w3-round w3-margin-top w3-margin-bottom" alt="me" style="width:90%">      
      </div>
    </div>
  </div>

  {% include footer.html %}
</html>
