<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content=""> 
	<!-- EDIT: add some keywords to the content element to help your page show up on search engines -->

  <link rel="icon" type="image/png" href="favicon.png" size="256x256">
	<!-- EDIT: replace favicon.png with an image you would like to appear as your page's tab icon; this file should go in the same folder as your index.html file -->

  <title>Your Name</title>
	<!-- EDIT: your name should go here -->

  <meta name="description" content="">

  <link rel="stylesheet" href="style.css">

  <link rel="canonical" href="">
	<!-- EDIT: your page address should go in the href field -->
</head>


  <body>

    <header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="/">Your Name</a>
	<!-- EDIT: your name should go here -->

    <nav class="site-nav">
      <a href="#" class="menu-icon">
        <svg viewBox="0 0 18 15">
          <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
          <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
          <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
        </svg>
      </a>

      <div class="trigger">
            <a class="page-link" href="#research">research</a>
            <a class="page-link" href="#teaching">teaching</a>
      </div>
    </nav>

  </div>

</header>


    <div class="page-content">
      <div class="wrapper">
        <article class="post">

  <header class="post-header">
    <h1 class="post-title">about me</h1>
  </header>

	<div class="post-content">
	<img class="smallrightbox" style="float: right; padding-top:5px; padding-bottom:10px; padding-left:10px" src="photo.jpg">
		<!-- EDIT: you should replace photo.jpg with the file name of your personal photo; your photo should be in the same folder as your index.html file -->

	<p> I am a graduate student in math at <a href="https://en.wikipedia.org/wiki/Monsters_University">Monsters University</a>. I am interested in discrete analysis and trilinear forms. My advisor is Jerry Slugworth.

	<p> I was born and raised in Monstropolis. In my free time, I perform children's comedy and collect monoculars.

	<p> Here is a copy of <a href="cv.pdf">my CV</a>.
	<!-- EDIT: change this link to the file name of your cv; this file should be in the same folder as your index.html file -->

	<h1 id="research">research</h1>
	<p>Here is a list of my papers and preprints.
	<ol reversed>
	<li> <a href="paper2.pdf">Tired of bilinear forms? Try trilinear forms</a>,<br>
		with James P. Sullivan.<br>
		Preprint, 2024.
	<li> <a href="paper1.pdf">There are infinitely many twin composite integers</a>.<br>
		To appear in <a href="https://sites.santafe.edu/~moore/unpub.html"><em>The Journal of Unpublished Results</em></a>.
	</ol>

	<h1 id="teaching">teaching</h1>
	<p>Here is a list of my teaching experiences.
	<p><table>
  		<tr>
    		<th>Course</th>
    		<th>Title</th>
   		<th>Term</th>
    		<th>Role</th>
    		<th>Info</th>
  		</tr>
                <tr>
                <td>Math 101</td>
                <td>Sets and functions</td>
                <td>Spring 2024</td>
                <td>Instructor</td>
                <td><a href="syllabus.pdf">Syllabus</a>. Course materials on Canvas.</td>
                </tr>
                <tr>
                <td>Math 123</td>
                <td>Infinite-dimensional calculus</td>
                <td>Fall 2023</td>
                <td>TA</td>
                <td></td>
		</tr>
		</table>
  </div>

</article>

      </div>
    </div>

    <footer>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <strong>Email:</strong> <a data-name="yourname" data-domain="math.mu" data-tld="edu" href="#" class="cryptedmail" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld"></a><br>
		<!-- EDIT: the above line will display the email address yourname@math.mu.edu (in a way that bots cannot easily scrape); edit the entries accordingly to display your email address -->
        <strong>Office:</strong> Math Building, Room 123<br>
        <br>
        Department of Mathematics<br>
        Monsters University<br>
        Monstropolis, MO
	<!-- EDIT: update these lines with your office location -->
      </div>

      
    </div>
  </div>
</footer>


  </body>

</html>